:root[data-theme="dark"] {
  background-color: var(--theme-background) !important;
  --color-gray-50:  var(--theme-background-alt);
  --color-gray-100: var(--theme-background-alt);
  --color-gray-200: var(--theme-foreground-faintest);
  --color-gray-300: var(--theme-foreground-faintest);
  --color-gray-400: lab(47.7841% -.393182 -10.0268);
  --color-gray-500: lab(65.9269% -.832707 -8.17473);
  --color-gray-600: lab(85.1236% -.612259 -3.7138);
  --color-gray-700: lab(91.6229% -.159115 -2.26791);
  --color-gray-800: lab(96.1596% -.0823438 -1.13575);
  --color-gray-900: lab(98.2596% -.247031 -.706708);
  --color-zinc-900: var(--theme-foreground);
  --color-blue-50: var(--theme-background);
  --color-black: #fff;
  --color-white: #000;
}

.bg-white {
  background-color: var(--theme-background);
}

.bg-\[url\(data\:image\/svg\+xml\;base64\,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgogIDxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IndoaXRlIj48L3JlY3Q\+CiAgPGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUgNCw0KSIgc3Ryb2tlPSJsYWIoOTYuMTU5NiUgLS4wODIzNDM4IC0xLjEzNTc1KSI\+CiAgICA8bGluZSB4MT0iNTAlIiB4Mj0iNTAlIiB5MT0iLTEwMCUiIHkyPSIyMDAlIj48L2xpbmU\+CiAgICA8bGluZSB5MT0iNTAlIiB5Mj0iNTAlIiB4MT0iLTEwMCUiIHgyPSIyMDAlIj48L2xpbmU\+CiAgPC9nPgo8L3N2Zz4\=\)\] {
  background: var(--theme-background);
}

.ͼ1 .cm-cursor, .ͼ1 .cm-dropCursor {
  border-left: 1.2px solid var(--color-black);
}

:root[data-theme="dark"] .ͼ5.cm-focused .cm-activeLineGutter {
  background-color: var(--color-blue-800);
}

:root[data-theme="dark"] .ͼ2.cm-focused .cm-selectionLayer .cm-selectionBackground {
  background: #3b3a4a;
}

/*
.bg-gray-50 {
  background-color: var(--theme-background-alt);
}

.bg-gray-100, .data-popup-open\:bg-gray-100[data-popup-open] {
  background-color: var(--theme-background-alt);
}

.text-gray-900 {
  color: var(--theme-foreground);
}

.border-gray-300 {
  border-color: var(--theme-foreground-faintest);
}
*/